<section class="sidebar-header"></section>

<section class="sidebar-content">
    <form style="position:relative" action="">
        <input type="search" name="componentSearch" class="componentSearch" placeholder="Search..." />
        <div class="searchBtn"><img src="/assets/icons/search.svg" /></div>
    </form>
    <div class="horizontal-separator"></div>

    <section class="textOptions">
        <label class="optionTitle">Text title</label>
        <input type="text" name="titleText"/> 
        <label class="optionTitle">Main text content</label>
        <textarea class="mainText"></textarea>
        <label class="optionTitle">Sub text content</label>
        <textarea class="subText"></textarea>
    </section>

</section>