

.sidebar-content form {
    width: 90%;
    margin: 16px;
}

.componentSearch {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    font-size: 20px;
    background-color: #DCEDC8; 
    border: none;
    border-radius: 5px;
}

.searchBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: 0.3s transform;
}

.searchBtn:hover {
    transform: scale(1.3, 1.3);
}

.textOptions {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.textOptions textarea {
    resize: none;
    height: 70px;
}

.optionTitle {
    font-family: Unineue-Light;
    font-size: 18px;
    margin-top: 10px;
}

.optionTitle:first-child {
    margin-top: 0;
}
