<section class="person-component block-component {{backgroundColorClass}}">
    
    <section class="person-photo">
        <img src="{{personImgUrl}}" alt="{{personImgAlt}}"/>
    </section>

    <section class="person-component-content">

        <h2 class="person-component-title display-2">{{title}}</h2>
        <article class="person-component-opinion main-text body-2 text-large">{{opinion}}</article>

        <section class="person-info sub-text body-2 text-large">
            <section class="person-name">
                <p>{{Name}}</p>, <p>{{Surname}}</p>
            </section>
            <p>{{Age}}</p>
            <p>{{WhoIsThis}}</p>
        </section>

    </section>


</section>