<input type="checkbox" id="showSignIn"/>
<div class="form signIn">
    <!--<form #loginForm="ngForm" (ngSubmit)="doLogin($event)" style="position: relative">

        <input type="password" placeholder="Password" [(ngModel)]="password" #name="ngModel" name="password" required/>

        <button type="submit" value="Login" class="button btn" [disabled]="!loginForm.form.valid"></button>

        <label for="showSignIn" class="closeWindow"></label>

    </form>-->

    <span class="display-2">Working in progress! Awaiting on January...</span>
    <label class="btn button" for="showSignIn">Close!</label>
</div>