<section class="team-component block-component {{backgroundColorClass}}">

    <h2 class="team-component-title display-2">{{title}}</h2>

    <article class="team-component-content main-text body-2 text-large">{{mainText}}</article>

    <!--<img src="/dist/SO.jpg" width="200px" height="200px"/>
    <img src="/dist/BA.jpg" width="200px" height="200px"/>-->

    <ul class="cards">
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--SO"></div>
                <div class="card__content">
                    <div class="card__title">{{SO_title}}</div>
                    <div class="card__text">{{SO_text}}</div>
                    <button class="btn button">oXXXymiron!</button>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--BA"></div>
                <div class="card__content">
                    <div class="card__title">{{BA_title}}</div>
                    <div class="card__text">{{BA_text}}</div>
                    <button class="btn button">meh...</button>
                </div>
            </div>
        </li>
    </ul>

</section>