<section class="sidebar-header material-green">
    <h2 class="display-1" style="color: white">Gallery component</h2>
</section>

<section class="sidebar-content">

    <form class="Options" #galleryEditForm="ngForm" (ngSubmit)="editGalleryInfo($event)">
        <label class="optionTitle">Text title</label>
        <input type="text" name="textTitle" [(ngModel)]="model.title" #title="ngModel" required />


    <label class="optionTitle">First photo</label>
    <input type="file" accept="image/*" (change)="updateModel($event, 1)" required/>

    <label class="optionTitle">Second photo</label>
    <input type="file" accept="image/*" (change)="updateModel($event, 2)" required/>

    <label class="optionTitle">Third photo</label>
    <input type="file" accept="image/*" (change)="updateModel($event, 3)" required/>

    <label class="optionTitle">Fourth photo</label>
    <input type="file" accept="image/*" (change)="updateModel($event, 4)" required/>

    <label class="optionTitle">Fifth photo</label>
    <input type="file" accept="image/*" (change)="updateModel($event, 5)" required/>

    <label class="optionTitle">Sixth photo</label>
    <input type="file" accept="image/*" (change)="updateModel($event, 6)" required/>

        <!--ngFor version
    <div class="image-upload" *ngFor="let photo of photos; let i = index">
        <label class="optionTitle"></label>
        <input type="file" accept="image/*" (change)="updateImage($event, i)" required />
    </div>

    <label class="optionTitle">Background color</label>
    <input type="color" [(ngModel)]="model.backgroundColor" #backgroundColor="ngModel"/>

    <input class="btn button" type="submit" [disabled]="!galleryEditForm.form.valid"/>-->
    </form>

</section>