<section class="sidebar-header material-green">
    <h2 class="display-1" style="color: white">Gallery component</h2>
</section>

<section class="sidebar-content">

    <form class="Options" [formGroup]="galleryEditForm" (ngSubmit)="save(galleryEditForm.value)">

        <label class="optionTitle">Text title</label>
        <input type="text" formControlName="title" />




        <label class="optionTitle">Project 1 description</label>
        <input type="text" formControlName="description1" />

        <label class="optionTitle">First photo</label>
        <input type="file" accept="image/*" formControlName="imgUrl1" (change)="updateImage($event, 1)" />




        <label class="optionTitle">Project 2 description</label>
        <input type="text" formControlName="description2" />

        <label class="optionTitle">Second photo</label>
        <input type="file" accept="image/*" formControlName="imgUrl2" (change)="updateImage($event, 2)" />




        <label class="optionTitle">Project 3 description</label>
        <input type="text" formControlName="description3" />

        <label class="optionTitle">Third photo</label>
        <input type="file" accept="image/*" formControlName="imgUrl3" (change)="updateImage($event, 3)" />

        <label class="optionTitle">Background color</label>
        <input type="color" formControlName="backgroundColor"/>

        <!--ngFor version
    <div class="image-upload" *ngFor="let photo of photos; let i = index">
        <label class="optionTitle"></label>
        <input type="file" accept="image/*" (change)="updateImage($event, i)" required />
    </div>

    <label class="optionTitle">Background color</label>
    <input type="color" [(ngModel)]="model.backgroundColor" #backgroundColor="ngModel"/>

    <input class="btn button" type="submit" [disabled]="!galleryEditForm.form.valid"/>-->
        <button type="submit" class="btn button">Submit</button>
    </form>

</section>