<section class="sidebar-header material-blue">
    <h2 class="display-1" style="color: white">Product component</h2>
</section>

<section class="sidebar-content">

    <form class="Options"  #productEditForm="ngForm" (ngSubmit)="editProductInfo($event)">

        <label class="optionTitle">Text title</label>
        <input type="text" [(ngModel)]="model.title" #title="ngModel" name = "title" required/>

        <label class="optionTitle">Main text</label>
        <textarea [(ngModel)]="model.mainText" #mainText="ngModel" name="main-text"></textarea>

        <label class="optionTitle">Sub text</label>
        <textarea [(ngModel)]="model.subText" #subText="ngModel" name="sub-text"></textarea>

        <label class="optionTitle">Product demo photo</label>
        <input type="file" accept="image/*" (change)="updateImage($event)" name="photo" required/>

        <label class="optionTitle">Background color</label>
        <input type="color" [(ngModel)]="model.backgroundColor" #backgroundColor="ngModel" name="background-color" required/>

        <input class="btn button material-blue" type="submit" [disabled]="!productEditForm.form.valid" />

    </form>

</section>