<section class="sidebar-header material-blue">
    <h2 class="display-1" style="color: white">Product component</h2>
</section>

<section class="sidebar-content">

    <form class="Options">
        <label class="optionTitle">Text title</label>
        <input type="text" name="textTitle" />
        <label class="optionTitle">Main text</label>
        <textarea></textarea>
        <label class="optionTitle">Sub text</label>
        <textarea></textarea>
        <label class="optionTitle">Product demo photo</label>
        <input type="file" name="demoPhoto" accept="image/*" />
        <label class="optionTitle">Background color</label>
        <input type="color" />
        <input class="btn button material-blue" type="submit" />
    </form>

</section>