<section class="sidebar-header material-green">
    <h2 class="display-1" style="color: white">Text component</h2>
</section>

<section class="sidebar-content">

    <form class="Options"  #textEditForm="ngForm" (ngSubmit)="editTextInfo($event)">
        <label class="optionTitle">Text title</label>
        <input type="text" [(ngModel)]="model.title" #title="ngModel" name="title" required/>

        <label class="optionTitle">Main text</label>
        <textarea [(ngModel)]="model.mainText" #mainText="ngModel" name="main-text"></textarea>

        <label class="optionTitle">Sub text</label>
        <textarea [(ngModel)]="model.subText" #subText="ngModel" name="sub-text" required></textarea>

        <label class="optionTitle">Background color</label>
        <input type="color" [(ngModel)]="model.backgroundColor" #backgroundColor="ngModel" name="background-color" required/>

        <input class="btn button" type="submit" [disabled]="!textEditForm.form.valid"/>
    </form>

</section>