<section class="sidebar-header material-green">
    <h2 class="display-1" style="color: white">Text component</h2>
</section>

<section class="sidebar-content">

    <form class="Options">
        <label class="optionTitle">Text title</label>
        <input type="text" name="textTitle" />
        <label class="optionTitle">Main text</label>
        <textarea></textarea>
        <label class="optionTitle">Sub text</label>
        <textarea></textarea>
        <label class="optionTitle">Background color</label>
        <input type="color" />
        <input class="btn button" type="submit" />
    </form>

</section>