<button (click)="fullpageService.moveSectionUp();">Move section up</button>
<button (click)="fullpageService.moveSectionDown();">Move section down</button>

<div mnFullpage
     [mnFullpageNavigation]="true">

    <div id="section1" class="section fp-section fp-table">
        <div class="fp-tableCell">
            Section 1
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            Section 2
        </div>
    </div>
</div>