<section [style.background-color]="getBackgroundColor()" class="text-component block-component {{model.backgroundColor}}">

    <h2 class="text-component-title display-2">{{model.title}}</h2>

    <article class="text-component-content main-text body-2 text-large">{{model.mainText}}</article>

    <article class="text-component-content sub-text body-2 text-large">{{model.subText}}</article>

    <section class="button-section">
        <a href="{{model.buttonLeftLink}}" target="_blank"><button  class="btn button">{{model.buttonLeftText}} </button></a>
        <a href="{{model.buttonRightLink}}" target="_blank"><button class="btn button">{{model.buttonRightText}}</button></a>
    </section>
    
    <section class="btnSection">
        <label class="round-btn material-red edit-btn" for="showTextSidebar"><edit-btn></edit-btn></label>
        <label class="round-btn material-red up-btn" ><up-btn></up-btn></label>
        <label class="round-btn material-red down-btn"><down-btn></down-btn></label>
        <label class="round-btn material-red trash-btn"><trash-btn></trash-btn></label>
    </section>

</section>