
<section class="text-component block-component {{backgroundColorClass}}">

    <h2 class="text-component-title display-2">{{title}}</h2>

    <article class="text-component-content main-text body-2 text-large">{{mainText}}</article>

    <article class="text-component-content sub-text body-2 text-large">{{subText}}</article>

    <section class="button-section">
        <button class="btn button">{{buttonLeftText}}</button>
        <button class="btn button">{{buttonRightText}}</button>
    </section>

</section>