<footer class="footer-component {{backgroundColorClass}}">
    <section class="publicy">

        <section class="address">
            <p class="footer-title display-1">{{title1}}</p>
            <p class="footer-cont-item">{{city}}</p>
            <p class="footer-cont-item">{{street}}</p>
            <p class="footer-cont-item">{{zipCode}}</p>

        </section>

        <section class="snetwork">
            <p class="footer-title display-1">{{title2}}</p>
            <div class="social-icons">
                <a href="{{vk_url}}" target="_blank"><img src={{vk_icon}} alt="vk"/></a>
                <a href="{{fb_url}}" target="_blank"><img src={{fb_icon}} alt="fb"/></a>
                <a href="{{tg_url}}" target="_blank"><img src={{tg_icon}} alt="tg"/></a>
                <a href="{{tw_url}}" target="_blank"><img src={{tw_icon}} alt="tw"/></a>
                <a href="{{gp_url}}" target="_blank"><img src={{gp_icon}} alt="gp"/></a>
            </div>
        </section>

        <section class="contact">
            <p class="footer-title display-1">{{title3}}</p>
            <p class="footer-cont-item">{{phoneNumber}}</p>
            <p class="footer-cont-item">{{email}}</p>
            <p class="footer-cont-item">{{skype}}</p>
            <p class="footer-cont-item">{{whatsApp}}</p>
        </section>

    </section>

    <section class="technical-info">
        <p>{{tech}}</p>
    </section>

</footer>