.hidden-devBtn {
    /*display: none;*/
    transform: translateY(100px);
}

.visible-devBtn {
    /*display: block;*/
    transform: translateY(20px);
}

.developerButton {
    position: fixed;
    bottom: 0;
    z-index: 7;
    transition: 0.2s transform ease;
}