<!--<router-outlet></router-outlet>-->
<devbutton></devbutton>

<input type="checkbox" id="showSearchSidebar" />
<my-searchsidebar class="sidebar"></my-searchsidebar>
<my-fab></my-fab>
<label class="grayout6" for="showSearchSidebar"></label>




<login></login>

<input type="checkbox" id="showTextSidebar" />
<my-textsidebar class="sidebar"></my-textsidebar>
<my-text class="component"></my-text>
<label class="grayout1" for="showTextSidebar"></label>

<input type="checkbox" id="showTeamSidebar" />
<my-teamsidebar class="sidebar"></my-teamsidebar>
<my-team class="component"></my-team>
<label class="grayout2" for="showTeamSidebar"></label>

<input type="checkbox" id="showPersonSidebar" />
<my-personsidebar class="sidebar"></my-personsidebar>
<my-person class="component"></my-person>
<label class="grayout3" for="showPersonSidebar"></label>

<input type="checkbox" id="showProductSidebar" />
<my-productsidebar class="sidebar"></my-productsidebar>
<my-product class="component"></my-product>
<label class="grayout4" for="showProductSidebar"></label>

<input type="checkbox" id="showGallerySidebar" />
<my-gallerysidebar class="sidebar"></my-gallerysidebar>
<my-gallery class="component"></my-gallery>
<label class="grayout5" for="showGallerySidebar"></label>


<my-footer></my-footer>