<section class="sidebar-header material-orange">
    <h2 class="display-1" style="color: white">Person component</h2>
</section>

<section class="sidebar-content">

    <form class="Options" [formGroup]="personEditForm" (ngSubmit)="save(personEditForm.value)">

        <label class="optionTitle">Text title</label>
        <input type="text" formControlName="title"/>

        <label class="optionTitle">Main text</label>
        <textarea formControlName="mainText"></textarea>

        <label class="optionTitle">Name, surname</label>
        <input type="text" formControlName="personName"/>

        <label class="optionTitle">Age</label>
        <input type="text" formControlName="age"/>

        <label class="optionTitle">Position</label>
        <input type="text" formControlName="position"/>

        <label class="optionTitle">Person photo</label>
        <input type="file" accept="image/*" (change)="updateImage($event)" formControlName="photo"/>

        <label class="optionTitle">Background color</label>
        <input type="color" formControlName="backgroundColor"/>

        <button class="btn button" type="submit">Submit</button>
    </form>

</section>