<section class="sidebar-header material-orange">
    <h2 class="display-1" style="color: white">Person component</h2>
</section>

<section class="sidebar-content">

    <form class="Options" #personEditForm="ngForm" (ngSubmit)="editPersonInfo($event)">

        <label class="optionTitle">Text title</label>
        <input type="text" [(ngModel)]="model.title" #title="ngModel" required/>

        <label class="optionTitle">Main text</label>
        <textarea [(ngModel)]="model.mainText" #mainText="ngModel" required></textarea>

        <label class="optionTitle">Name, surname</label>
        <input type="text" [(ngModel)]="model.name" #name="ngModel" required/>

        <label class="optionTitle">Age</label>
        <input type="text" [(ngModel)]="model.age" #age="ngModel" required />

        <label class="optionTitle">Position</label>
        <input type="text" [(ngModel)]="model.position" #position="ngModel" required/>

        <label class="optionTitle">Person photo</label>
        <input type="file" accept="image/*" (change)="updateImage($event)" required />

        <label class="optionTitle">Background color</label>
        <input type="color" [(ngModel)]="model.backgroundColor"/>

        <input class="btn button" type="submit" [disabled]="!personEditForm.form.valid"/>
    </form>

</section>