<section class="product-component block-component {{model.backgroundColor}}" [style.background-color]="getBackgroundColor()">
    
    <section class="product-demo">
        <img src="{{model.productImgUrl}}" alt="img"/>
    </section>

    <section class="product-component-content">
        <h2 class="product-component-title display-2">{{model.title}}</h2>
        <article class="text-large body-2">{{model.mainText}}</article>
        <article class="text-large body-2">{{model.subText}} </article>
    </section>
   
    <section class="btnSection">
        <label class="round-btn material-blue edit-btn" for="showProductSidebar"><edit-btn></edit-btn></label>
        <label class="round-btn material-blue up-btn"><up-btn></up-btn></label>
        <label class="round-btn material-blue down-btn"><down-btn></down-btn></label>
        <label class="round-btn material-blue trash-btn"><trash-btn></trash-btn></label>
    </section>

</section>