* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Unineue-Light;
    src: url(UniNeue-Light.otf);
}

@font-face {
    font-family: Unineue-HeavyItalic;
    src: url(UniNeue-HeavyItalic.otf);
}

h2 {
    font-size: 36px;
}

h1, h2 {
    text-align: center;
}

app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

app > ng-component {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-text {
    width: 80%;
}

.sub-text {
    width: 60%;
}

.block-component {
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    min-width: 100%;
    padding: 50px;
}

.btn {
    position: relative;
    margin: 30px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ffffff;
    transition: background-color .3s;
}

    .btn:hover, .btn:focus {
        background-color: #27ae60;
    }

    .btn > * {
        position: relative;
    }

    .btn span {
        display: block;
        padding: 12px 24px;
    }

    .btn:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        padding-top: 0;
        border-radius: 100%;
        background-color: rgba(236, 240, 241, .3);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .btn:active:before {
        width: 120%;
        padding-top: 120%;
        transition: width .2s ease-out, padding-top .2s ease-out;
    }

h2 {
    font-weight: normal;
}

button {
    width: 125px;
    height: 50px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.button-mimic {
    width: 125px;
    height: 50px;
    cursor: pointer;
    line-height: 3.5;
    text-align: center;
    font-family: sans-serif;
}

#showEditButton:not(:checked) ~ .editButton {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 275px;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(300px);
    transition: 0.3s transform;
    background-color: white;
    z-index: 8;
    -webkit-box-shadow: -5px 3px 33px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 3px 33px -11px rgba(0,0,0,0.75);
    box-shadow: -5px 3px 33px -11px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    height: 128px;
    background-color: #0E9D57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    height: 100%;
}

.sidebar-content form {
    display: flex;
    flex-direction: column;
}

.text-component,
.team-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.horizontal-separator {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: rgba(0,0,0, 0.3);
}

.fullViewPort {
    height: 100vh;
}

.fullViewPort .ng-sidebar__content {
    overflow: hidden;
}

.btnSection {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.round-btn {
    border-radius: 100%;
    cursor: pointer;
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    transition: 0.3s transform;
}

.round-btn img {
    transition: 0.3s transform;
}

.round-btn:hover {
    transform: scale(1.3, 1.3);
}

.trash-btn {
    transition: 0.3s transform, 0.5s background-image;
    background-image: url('icons/trash-closed.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.trash-btn:hover {
    transform: rotate(-405deg) scale(1.3, 1.3);
    background-image: url('icons/trash-opened.svg');
}

#showTextSidebar:checked + .sidebar {
    transform: translateX(0);
}