.material-blue {
    background-color: #47A7F5;
}

.material-orange {
    background-color: #FCD837;
}

.material-indigo {
    background-color: #7986CB;
}

.material-footer {
    background-color: #B3E5FC;
}

.material-red {
    background-color: #E53935;
}
