<div>
    <section class="sidebar-header material-red">
        <h2 class="display-1" style="color: white">Team component</h2>
    </section>

    <section class="sidebar-content">
    
        <form class="Options">
            <label class="optionTitle">Text title</label>
            <input type="text" name="textTitle" />
            <label class="optionTitle">Main text</label>
            <textarea></textarea>
            <label class="optionTitle">Background color</label>
            <input type="color" />
    
            <label class="optionTitle">Teammate 1</label>
            <label class="optionTitle">Name, surname</label>
            <input type="text" name="teammateName" />
            <label class="optionTitle">Short description</label>
            <input type="text" name="shortDescription" />
            <label class="optionTitle">Link to profile</label>
            <input type="url" name="profileUrl" />
            <label class="optionTitle">Teammate photo</label>
            <input type="file" name="teammatePhoto" accept="image/*" />
    
            <!--TODO: Add modal adding teammate popup on according button click-->
            <!--TODO: Detach teammate form to separate component-->
    
            <label class="optionTitle">Teammate 2</label>
            <label class="optionTitle">Name, surname</label>
            <input type="text" name="teammateName" />
            <label class="optionTitle">Short description</label>
            <input type="text" name="shortDescription" />
            <label class="optionTitle">Link to profile</label>
            <input type="url" name="profileUrl" />
            <label class="optionTitle">Teammate photo</label>
            <input type="file" name="teammatePhoto" accept="image/*" />
    
            <input class="btn button material-green" type="submit" />
        </form>
    
    </section>
</div>